
.container-slider {
    padding-top: 30px;
    margin: 0 80px;
    .title-slider {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0 0 10px;
    }
    .width-item {
        width: 100%;
    }
    .carousel-item {
        width: 25%;
    }
}

.container-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    img {
        width: 96%;
        border-radius: 4px;
        margin-top: 20px;
    }
}

.container-pages {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 20px;
    .container-item {
        position: relative;
        width: 100%;
        margin: 0 10px;
        &:hover {
            .itemIMG {
                opacity: 0.8;
            }
            
            .btn-item {
                display: block;
            }
        }
    }
}


.itemIMG {
    width: 100%;
    border-radius: 4px;
}
.btn-item {
    width: 120px;
    cursor: pointer;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
}

