.container{
    display: flex;
    flex-direction: row;
    padding: 0px 64px;
    flex-grow: 1;
}

.nav_left{
    width: 59%;
    padding: 0 20px;
    border-right: 1px solid #d9d9d9;
    margin-right: 20px;
}

.nav_right{
    width: 40%;
}

.title{
    font-size: 22px;
    font-weight: 600;
}